<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Muokkaa tapahtuman tietoja</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
</head>
<body>
		<h1>Muokkaa tapahtuman tietoja</h1>
		<form th:object="${event}" th:action=@{save} action="#" method="post">
			<div>
		    	<label>Tapahtuman nimi:</label>
		    	<input type="text" th:field="*{event.name}" />
		    </div>
		    <br/>
		    <div>
		    	<label>Tapahtuman päivämäärä:</label>
		    	<input type="text" th:field="*{event.date}" />
		    </div>
		    <br/>
		    <div>
		    	<label>Tapahtuman alkamisaika:</label>
		    	<input type="text" th:field="*{event.time}" />
		    </div>
		    <br/>
		    <div>
		    	<input class="btn btn-sm btn-success" type="submit" value="Tallenna"></input>
				<a class="btn btn-sm btn-danger " href="/eventlist">Palaa tallentamatta</a>
			</div>
		</form>
</body>
</html>