<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tapahtumat</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
</head>
<body>
<h1>Tapahtumat</h1>
<table class="table table-striped" >
	<tr>
		<th>Nimi</th>
		<th>Päivämäärä</th>
		<th>Aika</th>
	</tr>

	<tr th:each = "event : ${events}">
		<td th:text="${event.name}"></td>
		<td th:text="${event.date}"></td>
		<td th:text="${event.time}"></td>
		<td>
			<a th:href="@{/delete/{event_id}(id=${event.event_id})}" class="btn btn-danger">Poista</a>		
		</td>
		<td>
			<a th:href="@{/edit/{event_id}(id=${event.event_id})}">Muokkaa</a>
		</td>
	</tr>
</table>

<a href="/add"  class="btn btn-success">Lisää tapahtuma</a>
</body>
</html>