<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h2>Venues</h2>
    <ul>
      <li th:each="venue : ${venues}">
        <strong th:text="${venue.name}"></strong>

        <h3>Events at this Venue</h3>
        <ul>
          <li th:each="event : ${events}" th:if="${event.venue == venue}">
            <strong th:text="${event.name}"></strong>

            <h4>Ticket Types for this Event</h4>
            <ul>
              <li th:each="ticketType : ${ticketTypes}" th:if="${ticketType.event == event}">
                <span th:text="${ticketType.customerType}"></span>

                <h5>Sold Tickets of this Type</h5>
                <ul>
                  <li th:each="ticket : ${tickets}" th:if="${ticket.type == ticketType.customerType}">
                    <span th:text="${ticket.barcode}"></span> -
                    <span
                      th:if="${ticket.saleEvent != null}"
                      th:text="'Sold at: ' + ${ticket.saleEvent.saleDate} + ' ' + ${ticket.saleEvent.saleTime}"
                    ></span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </form>
  </body>
</html>
